/* Seção Geral do Site */

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body { 
    background: rgba(255, 194, 209, 0.503);
    background: radial-gradient(circle, rgba(255, 194, 209, 0.573) 14%, rgba(255, 179, 198, 0.677) 37%, rgba(255,143,171,1) 82%);
}

.Interface {
    max-width: 1280px;
    margin: 0 auto; 
}

/* Seção do cabeçalho */

header {
    padding: 40px 4%;
}

#love-icon {
    width: 50px;  
    height: 50px; 
    margin-right: 20px; 
    margin-top: -30px;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    cursor: pointer; 
}

#love-icon:hover {
    transform: scale(1.2);
    opacity: 0.8; 
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    display: inline-block;
    padding: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #e65b7d;
    font-size: 17px;
    padding: 10px 20px;
    position: relative;
    transition: color 0.3s;
    font-size: 25px;
    font-family: "Pixelify Sans", sans-serif;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #e65b7d;
    transition: width 0.3s ease-in-out;
}

header nav ul li a:hover::after {
    width: 100%;
}

header nav ul li a:hover {
    color: #e65b7d;
}

/* Seção topo do site */

section .topo-do-site {
    padding: 60px 0;
    background-color: #f4f4f4;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo-do-site .flex {
    align-items: center;
    justify-content: center;
}

/* Estilo original */
.topo-do-site h1 {
    font-size: 65px;
    color: #e65b7d;
    margin-bottom: -10px;
    margin-right: 60px;
    padding-right: 5px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #e65b7d; 
    animation: typing 4s steps(40) 1s forwards, blink 0.75s step-end infinite, disappear 4s 1s forwards;
}


@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink {
    0%,
    100% {
        border-color: transparent;
    }
    50% {
        border-color: #e65b7d;
    }
}


@keyframes disappear {
    100% {
        border-color: transparent;
    }
}

.topo-do-site p {
    font-size: 50px;
    color: #FB6F92;
    margin-top: -10px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.img-topo-site img {
    width: 480px;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    animation: float 3s ease-in-out infinite;
    margin-top: 50px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Seção de Sobre */

.sobre {
    padding: 20px;
    margin: 50px 0;
}

.sobre .titulo {
    color: #e65b7d;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
}


.sobre .paragrafo {
    color: #fff;
    line-height: 1.5;
    margin: 20px 0;
    padding: 40px 40px;
    background-color: #e65b7e5d;
    border-radius: 10px;
    font-size: larger;
    justify-content: center;
    transition: background-color 0.3s;
}

.sobre .paragrafo:hover {
    background-color: #e65b7d;
}

/* Seção de Habilidades */
.skills {
    padding: 20px;
    margin: 50px 0;
    text-align: center;
}

.skills h2 {
    font-size: 45px;
    color: #e65b7d;
    margin-bottom: 30px;
    font-family: "Pixelify Sans", sans-serif;;
}

.progress-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.progress-bar {
    width: 45%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.progress-bar label {
    font-size: 18px;
    color: #fff;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.progress-bar label i {
    font-size: 30px;
    margin-right: 10px; 
}

progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #ddd;
}

progress[value] {
    background-color: #2b306a;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: #ddd;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 10px;
}

.icon-html {
    color: #e34f26;
    text-shadow: 2px 2px 4px rgba(232, 71, 189, 0.275);
}

.icon-css {
    color: #264de4;
    text-shadow: 2px 2px 4px rgba(232, 71, 189, 0.275);
}

.icon-js {
    color: #f0db4f;
    text-shadow: 2px 2px 4px rgba(232, 71, 189, 0.275);
}

.icon-py {
    color: #e87f1d;
    text-shadow: 2px 2px 4px rgba(232, 71, 189, 0.275);
}

.nomes {
    font-size: 25px;
    color: #e65b7d; 
    font-weight: 600; 
}

/* Seção de projetos */

.projetos-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%; 
}

.projetos-lista {
    display: flex;
    overflow-x: hidden; 
    gap: 20px; 
    padding: 10px;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.projeto-item {
    color: #e65b7d;
    font-size: 18px;
    text-align: center;
    width: 500px;
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px; 
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.349);
    border-radius: 50px;
    transition: box-shadow 0.3s;
}

#projetos .titulo {
    font-size: 45px; 
    color: #e65b7d;
    font-family: "Pixelify Sans", sans-serif;
    margin-top: 90px;
    margin-bottom: 20px;
}

#calculadora {
    width: 130px;
}

#peso {
    width: 170px;
}

#lixeira {
    width: 150px;
}

#crud {
    width: 160px;
}

.projeto-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.scroll-btn {
    background-color: #e65b7d;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    transition: background-color 0.3s;
}

.scroll-btn:hover {
    background-color: #c14b68;
}

.scroll-btn.left {
    left: -30px;
}

.scroll-btn.right {
    right: -30px;
}

/* Seção Contato */

#contato .contato-titulo {
    margin-bottom: 40px;
    margin-top: 70px;
    color: #e65b7d;
    font-size: 45px;
    font-family: "Pixelify Sans", sans-serif;

}

#letter-icon {
    width: 50px;  
    margin-right: 20px;
    position:static;
}

form.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1f5677;
    border-radius: 10px;
    margin-bottom: 150px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
}

.form-group button {
    background-color: #ffffff;;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-group button:hover  {
    background-color: #eeeeee;
    transform: scale(1.05); 
}

/* Seção Redes Sociais */

#redes-sociais .redes-titulo {
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
    color: #e65b7d;
    font-family: "Pixelify Sans", sans-serif;
}

.redes-lista {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 150px;
}

.rede-item {
    margin: 0 20px;
}

.rede-item i {
    font-size: 65px;
    color: #e65b7d;
    transition: color 0.3s;
}

.rede-item a:hover i {
    color: #d25272;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Responsividade para Mobile*/

@media (max-width: 768px) {
    .img-topo-site img {
        width: 300px;
        height: 300px;
        margin-top: 50px;
    }

    .topo-do-site h1 {
        font-size: 40px;
        margin-right: 0;
    }

    .topo-do-site p {
        font-size: 20px;
    }


    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        padding: 10px 0;
    }

    .sobre .paragrafo {
        font-size: 16px;
        padding: 20px;
    }

    .projetos-lista {
        flex-direction: column;
        align-items: center;
    }

    .projeto-item {
        width: 100%;
        margin-bottom: 20px;
    }

    form.formulario-contato {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site p {
        font-size: 16px;
    }

    .img-topo-site img {
        width: 250px;
        height: 250px;
        margin-top: 30px;
    }

    form.formulario-contato {
        font-size: 14px;
    }

    .rede-item i {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .Interface {
        padding: 0 10px;
    }
    
    .sobre .paragrafo {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    header nav ul {
        display: none;
    }

    .menu-btn {
        display: block;
        font-size: 30px;
        color: white;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
