/* Seção Geral do Site */

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body { 
    background: rgb(3,2,54);
    background: linear-gradient(90deg, rgba(3,2,54,1) 14%, rgba(9,9,121,1) 48%, rgba(2,0,36,1) 82%);
}

.Interface {
    max-width: 1280px;
    margin: 0 auto; 
}

h2.titulo {
    color: #b5b5f4d2; 
    font-size: 40px; 
    text-align: center; 
    margin-bottom: 20px;
}

/* Seção do cabeçalho */

header {
    padding: 40px 4%;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    display: inline-block;
    padding: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffff;
    font-size: 17px;
    padding: 10px 20px;
    position: relative;
    transition: color 0.3s;
}

header nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffff;
    transition: width 0.3s ease-in-out;
}

header nav ul li a:hover::after {
    width: 100%;
}

header nav ul li a:hover {
    color: #ffffff;
}

header .Contato {
    display: inline-block;
    margin-left: 20px;
}

/* Seção topo do site */

section .topo-do-site {
    padding: 60px 0;
    background-color: #f4f4f4;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo-do-site .flex {
    align-items: center;
    justify-content: center;
}

.topo-do-site h1 {
    font-size: 65px;
    color: #b5b5f4;
    margin-bottom: -10px;
    margin-right: 60px;
    padding-right: 5px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.topo-do-site p {
    font-size: 40px;
    color: #a1a1ddd2;
    margin-top: -10px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.img-topo-site img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    animation: float 3s ease-in-out infinite;
    margin-top: 100px;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Seção de Sobre */

.sobre {
    padding: 20px;
    margin: 50px 0;
}

.sobre .titulo {
    color: #7a7ab1;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 45px;
}

.sobre .paragrafo {
    color: #fff;
    line-height: 1.5;
    margin: 20px 0;
    padding: 40px 40px;
    background-color: #1a1f566a;
    border-radius: 10px;
    font-size: larger;
    justify-content: center;
    transition: background-color 0.3s;
}

.sobre .paragrafo:hover {
    background-color: #2b306a;
}

/* Seção de Habilidades */
.skills {
    padding: 20px;
    margin: 50px 0;
    text-align: center;
}

.skills h2 {
    font-size: 40px;
    color: #7a7ab1;
    margin-bottom: 30px;
}

.progress-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.progress-bar {
    width: 45%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.progress-bar label {
    font-size: 18px;
    color: #fff;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.progress-bar label i {
    font-size: 30px;
    margin-right: 10px; 
}

progress {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #ddd;
}

progress[value] {
    background-color: #2b306a;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: #ddd;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 10px;
}

.icon-html {
    color: #e34f26;
}

.icon-css {
    color: #264de4;
}

.icon-js {
    color: #f0db4f;
}

.icon-py {
    color: #ff9f43;
}

.nomes {
    font-size: 20px;
    color: #fff; 
    font-weight: 600; 
}

/* Seção de projetos */

section.projetos {
    padding: 70px 0;
    margin-bottom: 40px;
    margin-top: 50px;
}

h2-titulo {
    font-size: 20px;
}

.projetos-lista {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    animation: float 3s ease-in-out infinite;
}

.projeto-item {
    color: #b5b5f4d2;
    font-size: 18px;
    text-align: center;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.349);
    border-radius: 50px;
    transition: box-shadow 0.3s;
}

.projeto-item a i {
    font-size: 120px;
    color: #b5b5f4d2;
    transition: color 0.3s;
    margin-top: 25px;
    margin-bottom: 50px;
}

.projeto-item a:hover i {
    color: #c4c4f2;
}

/* Seção Contato */

.contato-titulo {
    margin-bottom: 40px;
    margin-top: 40px;
}

form.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1a1f5677;
    border-radius: 10px;
    margin-bottom: 150px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ebe9e0;
    font-size: 16px;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e4e2d5;
    color: #333;
}

.form-group button {
    background-color: #e4e2d5;
    color: #515181;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.form-group button:hover {
    background-color: #dddbd1;
}

/* Seção Redes Sociais */

.redes-sociais {
    animation: float 3s ease-in-out infinite;
}

.redes-sociais-titulo {
    margin-top: 200px;
}

.redes-lista {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 150px;
}

.rede-item {
    margin: 0 25px;
}

.rede-item i {
    font-size: 65px;
    color: #b5b5f4d2;
    transition: color 0.3s;
}

.rede-item a:hover i {
    color: #c4c4f2;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Responsividade para Mobile*/

@media (max-width: 768px) {
    .img-topo-site img {
        width: 300px;
        height: 300px;
        margin-top: 50px;
    }

    .topo-do-site h1 {
        font-size: 40px;
        margin-right: 0;
    }

    .topo-do-site p {
        font-size: 20px;
    }


    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        padding: 10px 0;
    }

    .sobre .paragrafo {
        font-size: 16px;
        padding: 20px;
    }

    .projetos-lista {
        flex-direction: column;
        align-items: center;
    }

    .projeto-item {
        width: 100%;
        margin-bottom: 20px;
    }

    form.formulario-contato {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site p {
        font-size: 16px;
    }

    .img-topo-site img {
        width: 250px;
        height: 250px;
        margin-top: 30px;
    }

    form.formulario-contato {
        font-size: 14px;
    }

    .rede-item i {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .Interface {
        padding: 0 10px;
    }
    
    .sobre .paragrafo {
        padding: 15px;
    }
}

@media (max-width: 768px) {
    header nav ul {
        display: none;
    }

    .menu-btn {
        display: block;
        font-size: 30px;
        color: white;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

